In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("../data/Jobs_data.csv",index_col=None)

In [3]:
data.head()

,Job Title,Job link,Company,Location,Category,Salary,Experience
0,Magento 2 Developer,https://internshala.com/job/detail/magento-2-d...,Vanel Tech India Private Limited,NaN,Job,"₹ 8,40,000 - 14,40,000 /year",1 year(s)
1,Associate Software Developer,https://internshala.com/job/detail/associate-s...,VIP AI,NaN,Job,"₹ 7,00,000 - 12,00,000 /year",1 year(s)
2,Full Stack Developer,https://internshala.com/job/detail/full-stack-...,IREED Academy India Private Limited,NaN,Job,"₹ 4,00,000 - 5,00,000 /year",1 year(s)
3,Evaluation Engineer,https://internshala.com/job/detail/evaluation-...,Cars24 Services Private Limited,NaN,Job,"₹ 3,00,000 - 4,20,000 /year",1 year(s)
4,Application Support Engineer L1,https://internshala.com/job/detail/fresher-app...,Avenue E-Commerce Limited,NaN,Job,"₹ 2,45,000 - 2,89,000 /year",0 year(s)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1235 entries, 0 to 1234
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Job Title   1206 non-null   object
 1   Job link    1206 non-null   object
 2   Company     1206 non-null   object
 3   Location    0 non-null      float64
 4   Category    1235 non-null   object
 5   Salary      1206 non-null   object
 6   Experience  1206 non-null   object
dtypes: float64(1), object(6)
memory usage: 67.7+ KB

In [5]:
data.shape

(1235, 7)

In [6]:
data['Location'].isnull().sum()

np.int64(1235)

In [7]:
df = data.drop(['Location','Category'],axis = 1)

In [8]:
df.head()

,Job Title,Job link,Company,Salary,Experience
0,Magento 2 Developer,https://internshala.com/job/detail/magento-2-d...,Vanel Tech India Private Limited,"₹ 8,40,000 - 14,40,000 /year",1 year(s)
1,Associate Software Developer,https://internshala.com/job/detail/associate-s...,VIP AI,"₹ 7,00,000 - 12,00,000 /year",1 year(s)
2,Full Stack Developer,https://internshala.com/job/detail/full-stack-...,IREED Academy India Private Limited,"₹ 4,00,000 - 5,00,000 /year",1 year(s)
3,Evaluation Engineer,https://internshala.com/job/detail/evaluation-...,Cars24 Services Private Limited,"₹ 3,00,000 - 4,20,000 /year",1 year(s)
4,Application Support Engineer L1,https://internshala.com/job/detail/fresher-app...,Avenue E-Commerce Limited,"₹ 2,45,000 - 2,89,000 /year",0 year(s)

In [9]:
df.shape

(1235, 5)

In [10]:
df.isnull().sum()

Job Title     29
Job link      29
Company       29
Salary        29
Experience    29
dtype: int64

In [11]:
df[df.isnull().any(axis=1)]

     Job Title Job link Company Salary Experience
10         NaN      NaN     NaN    NaN        NaN
51         NaN      NaN     NaN    NaN        NaN
92         NaN      NaN     NaN    NaN        NaN
133        NaN      NaN     NaN    NaN        NaN
174        NaN      NaN     NaN    NaN        NaN
215        NaN      NaN     NaN    NaN        NaN
296        NaN      NaN     NaN    NaN        NaN
337        NaN      NaN     NaN    NaN        NaN
380        NaN      NaN     NaN    NaN        NaN
421        NaN      NaN     NaN    NaN        NaN
462        NaN      NaN     NaN    NaN        NaN
503        NaN      NaN     NaN    NaN        NaN
544        NaN      NaN     NaN    NaN        NaN
585        NaN      NaN     NaN    NaN        NaN
626        NaN      NaN     NaN    NaN        NaN
667        NaN      NaN     NaN    NaN        NaN
708        NaN      NaN     NaN    NaN        NaN
749        NaN      NaN     NaN    NaN        NaN
790        NaN      NaN     NaN    NaN        NaN
831        NaN      NaN     NaN    NaN        NaN
872        NaN      NaN     NaN    NaN        NaN
913        NaN      NaN     NaN    NaN        NaN
954        NaN      NaN     NaN    NaN        NaN
995        NaN      NaN     NaN    NaN        NaN
1036       NaN      NaN     NaN    NaN        NaN
1077       NaN      NaN     NaN    NaN        NaN
1118       NaN      NaN     NaN    NaN        NaN
1159       NaN      NaN     NaN    NaN        NaN
1200       NaN      NaN     NaN    NaN        NaN

In [12]:
df.dropna(inplace = True)

In [13]:
df.shape

(1206, 5)

In [14]:
df['Salary'].value_counts()

Salary
Competitive salary              241
₹ 2,00,000 /year                 32
₹ 2,00,000 - 3,00,000 /year      24
₹ 7,00,000 - 9,00,000 /year      23
₹ 4,00,000 - 7,00,000 /year      22
                               ...
₹ 2,10,000 - 3,20,000 /year       1
₹ 2,04,000 - 13,00,000 /year      1
₹ 2,03,500 - 3,30,000 /year       1
$ 4,801 - 8,500 /year             1
₹ 2,45,000 - 2,89,000 /year       1
Name: count, Length: 295, dtype: int64

In [15]:
rate = 86.14

def exchange(salary):
    if 'competitive' in salary.lower():
        return pd.Series([None, None])

    is_usd = '$' in salary
    salary = salary.replace('$', '').replace('₹', '').replace('/year', '').replace(',', '').strip()
    parts = salary.split('-')
    try:
        min_sal = float(parts[0].strip())
        max_sal = float(parts[1].strip()) if len(parts) > 1 else min_sal

        if is_usd:
            min_sal *= rate
            max_sal *= rate

        return pd.Series([int(min_sal), int(max_sal)])
    except Exception as e:
        print(f"Error parsing salary: {salary} -> {e}")
        return pd.Series([None, None])

df[['Min_Salary', 'Max_Salary']] = df['Salary'].apply(exchange)

In [16]:
df.head()

,Job Title,Job link,Company,Salary,Experience,Min_Salary,Max_Salary
0,Magento 2 Developer,https://internshala.com/job/detail/magento-2-d...,Vanel Tech India Private Limited,"₹ 8,40,000 - 14,40,000 /year",1 year(s),840000.0,1440000.0
1,Associate Software Developer,https://internshala.com/job/detail/associate-s...,VIP AI,"₹ 7,00,000 - 12,00,000 /year",1 year(s),700000.0,1200000.0
2,Full Stack Developer,https://internshala.com/job/detail/full-stack-...,IREED Academy India Private Limited,"₹ 4,00,000 - 5,00,000 /year",1 year(s),400000.0,500000.0
3,Evaluation Engineer,https://internshala.com/job/detail/evaluation-...,Cars24 Services Private Limited,"₹ 3,00,000 - 4,20,000 /year",1 year(s),300000.0,420000.0
4,Application Support Engineer L1,https://internshala.com/job/detail/fresher-app...,Avenue E-Commerce Limited,"₹ 2,45,000 - 2,89,000 /year",0 year(s),245000.0,289000.0

In [17]:
df['Experience'].value_counts()

Experience
1 year(s)     524
0 year(s)     235
4 year(s)     101
7 year(s)      77
3 year(s)      75
5 year(s)      47
2 year(s)      47
8 year(s)      31
6 year(s)      25
10 year(s)     23
9 year(s)      12
12 year(s)      8
13 year(s)      1
Name: count, dtype: int64

In [18]:
df['Experience(in yrs)'] = df['Experience'].str.replace('year(s)',"")

In [19]:
df['Experience(in yrs)'] = df['Experience(in yrs)'].astype(int)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1206 entries, 0 to 1234
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Job Title           1206 non-null   object
 1   Job link            1206 non-null   object
 2   Company             1206 non-null   object
 3   Salary              1206 non-null   object
 4   Experience          1206 non-null   object
 5   Min_Salary          965 non-null    float64
 6   Max_Salary          965 non-null    float64
 7   Experience(in yrs)  1206 non-null   int64
dtypes: float64(2), int64(1), object(5)
memory usage: 84.8+ KB

In [21]:
df['Job Title'].unique()

array(['Magento 2 Developer', 'Associate Software Developer',
       'Full Stack Developer', 'Evaluation Engineer',
       'Application Support Engineer L1',
       'Information Technology Engineer', 'Python Developer',
       'Solution Architect  App Modernization (GCP)',
       'Lead - Salesforce Financial Cloud', 'Quality Assurance Manager',
       'SAP Technical Architect', 'PHP Developer',
       'Pvt. Cloud SME/Architect', 'AI Engineer', 'Full Stack Engineer',
       'Java Architect', 'MFT Axway Administration & Developer',
       'Senior Informatica Engineer', 'Big Data Lead',
       'Level 3 Network Engineer', 'Rancher AWS Senior Engineer',
       'Technical Architect', 'Power BI', 'Project Manager',
       'SAP SD Project Manager', 'Full Stack Developer - Senior',
       'UX Designer_ Bangalore', 'Senior Teamcenter Developer',
       'Peoplesoft FSCM Technical Consultant/Developer',
       'Teamcenter Admin', 'MS Dynamics F&O Developers',
       'Appian Architect', 'Fusion Developer', 'Backend Developer',
       'Appian Developer', 'Data Architect - AEP',
       'D365 Power Pages UX/UI Developer', 'Lead Software Engineer',
       'Senior PHP Developer', 'Python (Programming Language)',
       'MS Dynamics F&O', 'Eagle Star QC Analyst',
       'Azure Platform Engineer', 'Java Developer',
       'Full Stack Developer (.Net With AWS)', 'Sr. Azure Data Engineer',
       'Automation Anywhere Developer', 'SAP Project Manager',
       'AWS Data Engineer', 'Sr Cyber Security Analyst',
       'Dotnet Azure Developer', 'Artificial Intelligence Engineer',
       'Sr. .Net Blazor Developer', 'QUALITY MANAGER',
       'Performance Test Engineer', 'RPA Business Analyst',
       'Automation Anywhere', 'SAP ABAP', 'SAP FICO Consultant',
       'Senior Sap MM Consultant', 'SAP SD Consultant',
       'HM Consulting SAP HCM',
       'Amazon Web Service Integration Developer',
       'Internet of Things (IoT) Specialist',
       'Internet of Things (IoT) Executive', 'Cyber Security Manager',
       'Cyber Security Executive', 'Trainee Software Engineer',
       'Product Developer (Assessment Design - Maths And Science IIT/NIT/IISc/BITS/IISER)',
       'Tableau Developers', 'Junior SAP ABAP Developer',
       'Tableau Developer', 'Java Backend Developer',
       '.Net React With AWS Developer', 'MERN Stack Developer',
       'Junior Software Tester', 'Associate Android App Developer',
       'Internet of Things (IoT) Associate', '.NET Developer',
       'System Cloud Admin', 'iOS App Developer', 'Associate Programmer',
       'Deveops Engineer', 'Flutter Developer', 'Laravel PHP Developer',
       'Founding Engineer', 'Web Designer/Frontend Developer',
       'SAP ABAP Consultant',
       'Full-Stack CodeIgniter Developer (UI/UX + Figma)',
       'Senior Full Stack Developer', 'Software Test Engineer',
       'Android App Developer', 'Programmer',
       'Database & Systems Administrator',
       'Assistant Manager - Microbiology', 'Cyber Security Associate',
       'Associate iOS App Developer', 'Junior Software Developer',
       'Associate Software Tester', 'Associate Mobile App Developer',
       'Associate Ruby On Rails Developer', 'Junior Programmer',
       'Frontend Angular Developer', 'Full Stack GenAI Developer',
       'Freelance Interviewer-Full Stack (Optimizely)',
       'Junior Mobile App Developer', 'Web Developer',
       'Full Stack Engineer (Node & React)', 'SAP BASIS Consultant',
       'Software Developer', 'Senior PHP Laravel Developer',
       'Java React Developer', 'Front End Developer',
       'IT Support & Systems Administrator', 'Product Manager',
       'Node.js  Developer', 'Associate Game Developer',
       'DevOps Engineer', 'Angular Developer', 'QA Tester',
       'AI/ML ERPNext Developer', 'Moodle LMS Developer',
       'Computer Training & Data Science Faculty',
       'Associate Full Stack Developer', 'AI/Prompt Engineer',
       'Junior Full Stack Developer', 'Team Lead - Business Professional',
       'Backend Specialist - Research, Architect, And Build',
       'DotNet Developer', 'AS400 Developer',
       'Assistant Manager - Incoming Packaging Testing',
       'Vmware + Windows + NSX', 'Associate Web Developer',
       'Software Engineer', 'Software Tester', 'Junior Web Developer',
       '.NET WPF Developer', 'Full Stack Blockchain Trainer',
       'Senior MERN Stack Developer',
       'Chief Product Manager(MBA Finance)',
       'Assistant Software Engineer', 'Technical Support Engineer',
       'Software Developer ASP.NET MVC',
       'Technical Support Engineer - Service Desk',
       'Technical Support Engineer (Monitoring)',
       'Senior Support Engineer- L1 Support (MarinePALS)',
       'IT Bsuiness Developer', 'Mobile App Developer',
       'Next JS Developer',
       'Application Support & Site Reliability Engineer',
       'Full Stack AI Engineer', 'Quality Analyst', 'Computer Executive',
       'Back-End Executive', 'Computer Operator Executive',
       'Computer Operator',
       'Quality Shift Incharge - Navi Mumbai Location',
       'Business Development Executive - Ahmedabad',
       'Programmer Analyst Trainee / Programmer Analyst - (GenC Next, GenC Pro & GenC)',
       'Product Analyst', 'Senior Backend Developer',
       'Full Stack - Python And REACT',
       'Electronics Hardware & Software Specialist', 'Photo Editor',
       'Business Development Executive', 'Node.js + Angular Developer',
       'Senior Data Engineer (Snowflake)', 'Senior Frontend Developer',
       'Senior Network Engineer',
       'Sales Development Representative - US Market',
       'Software Engineer (Flutter/Full-Stack)',
       'Computer Vision Specialist', 'Quality Assurance',
       'Software Development Engineer (Backend)',
       'Software Engineer Trainee', 'Digital Marketing -Team Lead',
       'Senior Data Engineer - Azure',
       'Software Development Engineer-1 (Frontend)',
       'Azure Sales / DAYSHIFT / Fixed Off /delhi',
       'Android App Developer (Only Female Preferred)(PHP & Laravel)',
       'Senior Information Technology Engineer', 'Head Of Security RMOTE',
       'Senior Engineer Blockchain Infrastructure - REMOTE',
       'REMOTE - Senior Engineer- Trading', 'DevOps Engineer ~ REMOTE',
       'Android SDET', 'Backend SDET', 'AI/ML Engineer',
       'Project Manager (Dotnet)', 'SAP GTS Consultant',
       'PHP Tech Lead Developer_ Bangalore', 'Quality Assurance Engineer',
       'Co-Founder With Investment', 'Electronics Engineer',
       'Senior Python Developer', 'Senior IT Executive',
       'Product Specialist', 'Technical Support Specialist',
       'React Native Developer', 'Senior Web Developer',
       'Web Developer (Backend)', 'IOT Engineer',
       'Data Visualization Associate', 'Junior Web Analytics Developer',
       'STEM Curriculum Developer – Computer Science & Robotics (Onsite)',
       'Quantity Surveyor', 'Shopify Coder',
       'Senior Node JS Backend Developer', 'Head Of Technology',
       'Technical Project Manager', 'Data Engineer - Web Scraping',
       'Back End Executive', 'Backend Maintenance Executive',
       'STEM Teacher', 'Node.js/MySQL Developer', 'Node.js Developer',
       'IT Website Project Manager', 'Quality Inspector',
       'Front End Development',
       'Artificial Intelligence (AI) (Computer Vision, NLP & GenerativeAI)',
       'Junior Full Stack Developer (Fresher)',
       'Junior WordPress Developer', 'IT Sales Executive',
       'Digital Marketing Executive', 'Golang Developer L Ahmedabad',
       'Senior WordPress Developer', 'Laravel Developer',
       'React JS Frontend Developer', 'Senior SEO Specialist',
       'Digital Marketing Manager', 'ERP Next Developer',
       'SCADA ENGINEER', 'Python Technical Trainer - Full Time Job',
       'Cyber Security Instructor - Full Time', 'Technical Associate',
       'Google Workspace Sales Executive', 'Image Processing Executive',
       'WordPress Developer', 'QA Automation Engineer',
       'Technical Trainer',
       'Junior/Senior Network Engineer – Network Operations Center (NOC)',
       'Jr. Java Developer', 'Sr. Java Developer', 'Unity Developer',
       'Senior Mobile App Developer', 'US - IT Staffing Recruiter',
       'Artificial Intelligence (AI) Associate',
       'Content Writer - Ahmedabad', 'Game Developer',
       'Associate QA (Live Ops)', 'Av Programmer',
       'Associate Backend Developer', 'Senior Front End Developer',
       'React JS Developer', 'Hosting Support Engineer (Full-Time)',
       '21st Century Skills Trainer', 'AI-Powered Full-Stack Developer',
       'Flutter Developer – Mobile & Web App Development',
       'Junior Software Engineer', 'WED DEVELOPMENT',
       'Junior UI/UX Designer', 'AI Automation Engineer',
       'QA Engineer- Manual Testing', 'MERN/MEAN Stack Developer',
       'Full Stack Developer (Lucknow)', 'QA Engineer',
       'Performance Marketing Executive', 'Jr. IOS Developer',
       'App Store Optimization', 'Trainee - Infrastructure Engineer',
       'Flutter Mobile App Developer', 'Jr. Business Analyst',
       'Shopify Developer / Expert', 'Full Stack Developer (AI/ML)',
       'Technical Support Analyst', 'Junior JavaScript Developer',
       'SAP BASIS Trainee', 'Service Desk', 'ASP.NET Developer',
       'Sales Engineer',
       'Fullstack Developer (NestJS + Next.js + Node.js + MongoDB)',
       'Flutter Mobile Developer', 'Quality Engineer',
       'L1 Support Engineer', 'IOS Development',
       'Associate Python Developer', 'AI & Robotics Trainer',
       'AI And Robotics Trainer', 'Digital Operations Executive',
       'ERPNext Developer', 'Documentation Lead - Technology',
       'Cloud Computing Executive',
       'Network & IT Infrastructure Executive', 'Q&A Author (Statistics)',
       'IT Hardware Assistant', 'Associate Java Developer',
       'Junior Network Engineer',
       'Django Rest Framework Developer – Full-Time',
       'System Administration',
       'React & Next.js Frontend Engineer – Build AI Interfaces',
       '3D Rigging And Animator', 'Trainee Engineer - Quality',
       'Mern Stack & React Native Developer', 'Jr. Database Developer',
       'Firmware Developer - GET',
       'Sales Quality & CRM Compliance Executive',
       'Full Stack Java Developer', 'NextJS Developer',
       'Customer Success (Tech Support - SaaS Software)',
       'Generative AI Application Executive', 'IT MIS Support Executive',
       'Production Supervsior', 'Human Resources Executive',
       'Business Analyst Trainee', 'Production Supervisor',
       'Compliance Executive', 'IT Support', 'Desktop Support L1',
       'Product & Sales Growth Manager – E-commerce & Social Media',
       'Technical Customer Support', 'Quality Executive',
       'Big Data Executive', 'Laptop Service Engineer',
       'Quality Assurance Assistant',
       'Junior Website Developer (WordPress + Shopify)',
       'Search Engine Optimization Specialist', 'Warehouse Executive',
       'STEM Innovation Engineer/Mentor', 'CCNA Faculty Trainer',
       'Customer Service Executive', 'Network Engineer', 'Tech Trainer',
       'Shopify Web Development', 'Business Development Specialist',
       'Senior Java Developer', 'Golang Developer',
       'Flutterflow Developer Job', 'JavaScript Developer',
       'Kotlin App Development', 'Linnux Admin',
       'Website Audit Video Creator (Remote)', 'Mern Trainer',
       'Junior Front End Developer', 'System Administrator Intern',
       'Website Development (Lead Generation Focus)', 'Shopify Developer',
       'Helpdesk Executive', 'IT Administrator',
       'Computer Hardware And Software Installation Eng',
       'Laravel And Next.js Developer', 'Manual Tester',
       'Unity Game Developer', 'Game Designer', 'SEO Specialist',
       'RS-CIT Teacher (Rajasthan State Certificate Course In Information Technology)',
       'ASP.NET Core Full Stack Developer', 'Computer Faculty',
       'Corporate Sales Executive', 'Junior Android App Developer',
       'Generative AI Developer', 'Robotics Trainer',
       'Junior IT Support Officer',
       'AI Vibe Coder (Full-stack Development)',
       'Technical Onsite Support Executive',
       'Python Full Stack Developer', 'Junior Laravel Developer',
       'Junior Lab Chemist – Quality Control (Poultry Feed Plant)',
       'Academic Content Writer', 'Senior Flutter Developer',
       'IT Recruiter', 'Digital Media & Website Coordinator',
       'Shopify Website Developer', 'Full Stack Software Engineer',
       'AI & Voice Bot Developer', 'Software Support Engineer',
       'Project Coordinator (IT)', 'Junior PHP Developer',
       'Associate Front End Developer',
       'Software Test Engineer (Generative AI Platform)',
       'PHP Laravel Developer', 'Artificial Intelligence (AI) Specialist',
       'Documentation Executive',
       'Junior Search Engine Optimization (SEO) Executive',
       'Data Structures And Algorithms Trainer',
       'Digital Marketing Associate', 'Robotics Trainee',
       'Associet AI Nextjs Developer', 'Product Executive',
       'AWS Bedrock Developer', 'SAP ABAP Associate',
       'Image Processing Associate', 'Tech & Operations Coordinator',
       'Subject Matter Expert- Computer Science',
       'Wordpress & Shopify Developer', '2D Game Artist',
       'Junior Machine Learning Associate', 'Service Delivery Engineer',
       'Cyber Security Specialist', 'Backup And Storage Engineer',
       'CodeIgniter Developer',
       'Operetional Process Management Executive',
       'PRESALES CONSULTANT  COMPUTE INFRASTRUCTURE',
       'Software Engineer (.Net Full Stack) - X Delivery',
       'Software Engineer - X Delivery',
       'Associate Tech Lead  Next.js | Node.js | MySQL',
       'Telecom Coordinator', 'WebDriver IO Automation Tester Lead',
       'Front-end Developer', 'SAP R2R Consultant Remote Freelance',
       'IAM Podcast Powered By Iamops.io', 'L2 Support',
       'Azure Databricks', 'Senior Developer - ReactJS Full Stack',
       'Senior Python ETL Developer/Lead', 'Odoo Developers',
       'Systems Analyst 1-IT', 'Technical Analyst 1-Support',
       'Pre-Sales Consultants',
       'Microsoft D365 - F&O Developer Remote Freelance',
       'Front End Engineer II', 'Quality Assurance Engineer I',
       'Quality Assurance Technician', 'Devops Architect',
       'Data Scientist Engineer',
       'QAE I, IES DEX (Quality Assurance & Testing)',
       'Software Development Engineer II, AWD',
       'Software Development Engineer II', 'Senior Software Developer',
       'Senior Software Engineer', 'SME MSSQL', 'SME - PostgreSQL  (JIO)',
       'Database Administrator', 'Junior Third-Party Risk Assessor',
       'Oracle BRM Developer', 'UI Automation', 'Cloud Administrator',
       'WSO2', 'Senior Quality Assurance Automation Engineer',
       'GOOGLE SHEET DEVELOPER', 'CCTV Technician',
       'Associate – Microsoft Dynamics 365 CRM Technical Developer',
       'Associate – SAP Consultant',
       'Associate – Oracle Fusion HCM Functional Consultant',
       'Senior Associate – Cybersecurity',
       'Senior Associate – Oracle Fusion SCM',
       'Software Quality Engineer - 2', 'Product Security Engineer 2',
       'Software Development Engineer 2', 'Member Of Technical Staff 2',
       'Software Engineer 2', 'Machine Learning Engineer',
       'Computer Scientist - I (DevOps)', 'Microsoft Teams Developer',
       'Consultant - Business Consulting (Data Science/Engineering)',
       'Sr. Technical Support Engineer (ContactCenter)',
       'Senior Functional Consultant - D365 F&O', 'SAP PS CONSULTANT',
       'SAP PM Consultant',
       'Systems Engineer - Privacy & Data Protection',
       'Information Security Engineer', 'SAP Security',
       'IBU - Presales - CSG', 'Analyst - Privacy And Data Protection',
       'Senior .Net Core Developer', 'Associate Software Engineer',
       '.NET Core Developer', 'Salesforce Developer',
       'Application Developer-IT Service Management',
       'Package Consultant-SAP EIM', 'Data Engineer-Data Warehouse',
       'Technical Consultant-Application Security',
       'Application Database Administrator-Oracle Enterprise Applications',
       'Application Developer-Java & Web Technologies',
       'Package Consultant-Oracle Enterprise Performance Management Cloud',
       'Data Engineer-Business Intelligence',
       'Technical Support Engineer - SOC',
       'Technical Support Engineer - VDI',
       'Technical Support Engineer - SCCM',
       'Technical Specialist - Windows Admin', 'Builder SDK',
       'Associate Technical Consultant', 'Ai Platform Engineer',
       'Professional Services Consultant 2',
       'India Development Centre (IDC)',
       'Adobe Campaign – Technical Consultant', 'Workfront Consultant',
       'ASIC Engineer',
       'Software Test Developer And Automation Engineer - Automotive',
       'Chip Power Estimation Engineer',
       'System Software Engineer - OpenBMC',
       'Senior Verification Engineer - Memory Subsystem',
       'Service Reliability Operations Engineer',
       'Software QA Test Developer - SoC Validation',
       'Adobe Analytics Sr Consultant', 'AI Platform Architect',
       'Network Infrastructure Engineer',
       'Circuit Design Engineer - Hardware',
       'SWQA Tools Development Engineer', 'Verification Engineer, PCIE',
       'DFX CAD Tools Development Engineer',
       'VLSI Tool Development Software Engineer', 'VMO IT Asset Manager',
       'Unity Developers', 'SAP Fiori Developer', 'Senior Data Engineer',
       'IT Telecaller', 'Software Engineer ( Flutter )',
       'Security Consultant - GRC',
       'Desktop & Network Support Field Engineer',
       'Sr.Technical Specialist ( Windows Admin L3 )', 'Storage Admin',
       'Junior Dotnet Developer + Data Engineer', 'DG SS Engineer',
       'Shift Manager', 'Solution Engineer',
       'Cloud Presales Consultant - Azure & AWS',
       'Desktop & Network Support Engineer', 'AJO Developer',
       'SME - Mechanical (Data Centre)', 'Php Lead', 'SEO Content Writer',
       'Technical Specialist - Windows Admin - L3',
       'Senior App Engg - Backend Engineer', 'Data Engineer',
       'Python Automation Developer', 'L1 IT & Network Engineer',
       'Azure Cloud Security Engineer - Sentinel',
       'Microsoft Dynamics 365 F&O Functional Consultant',
       'VM Ware & Windows', 'Manual Test Engineer',
       'Oracle BRM Architect',
       'Technical Product Manager (Insurance Product)',
       'Senior ZOHO Developer', 'React Developer', 'ServiceNow Developer',
       'SEO Executive', 'Power Automate',
       'Technical Specialist - Windows',
       'Solution Architect -Cloud Lead - Technical Lead',
       'Senior Network Security Engineer - F5/Firewall',
       'Cyber Security Engineer - L2(Immediate Joiner)',
       'Quality Assurance Automation Engineer', 'Senior End User Support',
       'Network & Security Engineer',
       'NEET Content Reviewer  Physics/Chemistry/Biology',
       'Okta Identity Cloud', '.NET Framework',
       'Enterprise Compute Sales Specialist',
       'Practice Consultant - Cloud', 'Hadoop Administration',
       'Backup & Storage Engineer', 'SEO Manager',
       'Python Fullstack Developer_Charni Road (Girgaon)',
       'Sales Executive In SaaS', 'Mobile App Marketing Expert',
       'Project Coordinator', 'OCI Infrastructure', 'Security Engineer',
       'WiFi Engineers', 'DBA Engineer', 'Service Desk Engineer',
       'SEO - Fresher - Ahmedabad',
       'Application Developer  Cloud FullStack',
       'JAVA React Full Stack Engineers',
       'Security & DevOps Support Engineer - (ERT)', 'Cloud Engineer',
       'Power Automate Developer', 'Kafka Admin', 'AI ML Engineer',
       'Intermediate Backend Java Development Resource',
       'Intermediate Full Stack Development Resource',
       'Power BI Architect',
       'Hiring Freshers (Sales & Marketing) - Remote',
       'Sales Development Representative - Remote', 'Telecaller - Remote',

In [22]:
category_map = {
    'Data & AI': ['data', 'ml', 'machine learning', 'ai', 'artificial intelligence', 'analytics', 'vision','analyst','power bi','tableau','python'],
    'Software Development': ['ios','android','kotlin','developer', 'engineer', 'programmer', 'full stack', 'backend', 'front end','frontend' ,'web development','app development'],
    'Cybersecurity': ['cyber', 'security', 'soc', 'iam'],
    'Quality Assurance & Testing': ['qa', 'quality', 'test', 'sdet'],
    'DevOps & Cloud': ['devops', 'aws', 'azure', 'cloud', 'gcp', 'platform'],
    'Game Development': ['game', 'unity'],
    'UI/UX & Design': ['ux', 'ui', 'figma'],
    'IT Support & Infrastructure': ['support', 'administrator', 'admin', 'it', 'desktop', 'infrastructure'],
    'SAP & ERP': ['sap', 'odoo', 'd365', 'oracle', 'erp'],
    'Sales & Marketing': ['sales', 'marketing', 'seo', 'content', 'digital'],
    'Project & Product Management': ['project manager', 'product manager', 'coordinator', 'scrum','mamager','consultant'],
    'Education & Training': ['trainer', 'instructor', 'teacher', 'faculty'],
    'Electronics & Hardware': ['electronics', 'circuit', 'hardware', 'embedded','iot']
}
def categorize(title):
    title_lower = title.lower()
    for category, keywords in category_map.items():
        if any(keyword in title_lower for keyword in keywords):
            return category
    return 'Other'

df['Category'] = df['Job Title'].apply(categorize)

In [23]:
def categorize(title):
    title_lower = title.lower()
    for category, keywords in category_map.items():
        if any(keyword in title_lower for keyword in keywords):
            return category
    return 'Other'

df['Category'] = df['Job Title'].apply(categorize)

In [24]:
df.head()

,Job Title,Job link,Company,Salary,Experience,Min_Salary,Max_Salary,Experience(in yrs),Category
0,Magento 2 Developer,https://internshala.com/job/detail/magento-2-d...,Vanel Tech India Private Limited,"₹ 8,40,000 - 14,40,000 /year",1 year(s),840000.0,1440000.0,1,Software Development
1,Associate Software Developer,https://internshala.com/job/detail/associate-s...,VIP AI,"₹ 7,00,000 - 12,00,000 /year",1 year(s),700000.0,1200000.0,1,Software Development
2,Full Stack Developer,https://internshala.com/job/detail/full-stack-...,IREED Academy India Private Limited,"₹ 4,00,000 - 5,00,000 /year",1 year(s),400000.0,500000.0,1,Software Development
3,Evaluation Engineer,https://internshala.com/job/detail/evaluation-...,Cars24 Services Private Limited,"₹ 3,00,000 - 4,20,000 /year",1 year(s),300000.0,420000.0,1,Software Development
4,Application Support Engineer L1,https://internshala.com/job/detail/fresher-app...,Avenue E-Commerce Limited,"₹ 2,45,000 - 2,89,000 /year",0 year(s),245000.0,289000.0,0,Software Development

In [25]:
df['Category'].value_counts()

Category
Software Development            687
Data & AI                       191
Other                            69
IT Support & Infrastructure      67
Quality Assurance & Testing      41
Cybersecurity                    39
SAP & ERP                        30
Project & Product Management     24
DevOps & Cloud                   18
Sales & Marketing                18
Electronics & Hardware            9
UI/UX & Design                    9
Education & Training              2
Game Development                  2
Name: count, dtype: int64

In [26]:
df.drop_duplicates(inplace = True)

In [27]:
df

,Job Title,Job link,Company,Salary,Experience,Min_Salary,Max_Salary,Experience(in yrs),Category
0,Magento 2 Developer,https://internshala.com/job/detail/magento-2-d...,Vanel Tech India Private Limited,"₹ 8,40,000 - 14,40,000 /year",1 year(s),840000.0,1440000.0,1,Software Development
1,Associate Software Developer,https://internshala.com/job/detail/associate-s...,VIP AI,"₹ 7,00,000 - 12,00,000 /year",1 year(s),700000.0,1200000.0,1,Software Development
2,Full Stack Developer,https://internshala.com/job/detail/full-stack-...,IREED Academy India Private Limited,"₹ 4,00,000 - 5,00,000 /year",1 year(s),400000.0,500000.0,1,Software Development
3,Evaluation Engineer,https://internshala.com/job/detail/evaluation-...,Cars24 Services Private Limited,"₹ 3,00,000 - 4,20,000 /year",1 year(s),300000.0,420000.0,1,Software Development
4,Application Support Engineer L1,https://internshala.com/job/detail/fresher-app...,Avenue E-Commerce Limited,"₹ 2,45,000 - 2,89,000 /year",0 year(s),245000.0,289000.0,0,Software Development
...,...,...,...,...,...,...,...,...,...
1230,React Native Developer,https://internshala.com/job/detail/react-nativ...,Versatile Commerce,Competitive salary,1 year(s),NaN,NaN,1,Software Development
1231,Power BI Consultant,https://internshala.com/job/detail/power-bi-co...,NETSACH GLOBAL,Competitive salary,4 year(s),NaN,NaN,4,Data & AI
1232,Big Data Developer,https://internshala.com/job/detail/big-data-de...,Chiselon Technologies Pvt Ltd,Competitive salary,4 year(s),NaN,NaN,4,Data & AI
1233,Java Full Stack Developer,https://internshala.com/job/detail/java-full-s...,Chiselon Technologies Pvt Ltd,Competitive salary,4 year(s),NaN,NaN,4,Software Development
1234,Video Editor & Creator,https://internshala.com/job/detail/video-edito...,LogicGo Infotech,Competitive salary,1 year(s),NaN,NaN,1,IT Support & Infrastructure

In [28]:
# Precompute category-wise average salary
category_avg = df[['Category', 'Min_Salary', 'Max_Salary']].assign(Avg_Salary=lambda d: d[['Min_Salary', 'Max_Salary']].mean(axis=1)).groupby('Category')['Avg_Salary'].mean()

def impute_salary(row):
    if pd.isna(row['Min_Salary']) or pd.isna(row['Max_Salary']):
        avg = category_avg.get(row['Category'])
        return pd.Series([avg, avg])
    return pd.Series([row['Min_Salary'], row['Max_Salary']])

df[['Min_Salary', 'Max_Salary']] = df.apply(impute_salary, axis=1)

In [29]:
df['Min_Salary'] = df['Min_Salary'].apply(lambda x: round(x, 2)).astype(int)
df['Max_Salary'] = df['Max_Salary'].apply(lambda x: round(x, 2)).astype(int)

In [30]:
df = df.reset_index(drop=True)

In [31]:
df

,Job Title,Job link,Company,Salary,Experience,Min_Salary,Max_Salary,Experience(in yrs),Category
0,Magento 2 Developer,https://internshala.com/job/detail/magento-2-d...,Vanel Tech India Private Limited,"₹ 8,40,000 - 14,40,000 /year",1 year(s),840000,1440000,1,Software Development
1,Associate Software Developer,https://internshala.com/job/detail/associate-s...,VIP AI,"₹ 7,00,000 - 12,00,000 /year",1 year(s),700000,1200000,1,Software Development
2,Full Stack Developer,https://internshala.com/job/detail/full-stack-...,IREED Academy India Private Limited,"₹ 4,00,000 - 5,00,000 /year",1 year(s),400000,500000,1,Software Development
3,Evaluation Engineer,https://internshala.com/job/detail/evaluation-...,Cars24 Services Private Limited,"₹ 3,00,000 - 4,20,000 /year",1 year(s),300000,420000,1,Software Development
4,Application Support Engineer L1,https://internshala.com/job/detail/fresher-app...,Avenue E-Commerce Limited,"₹ 2,45,000 - 2,89,000 /year",0 year(s),245000,289000,0,Software Development
...,...,...,...,...,...,...,...,...,...
970,React Native Developer,https://internshala.com/job/detail/react-nativ...,Versatile Commerce,Competitive salary,1 year(s),606734,606734,1,Software Development
971,Power BI Consultant,https://internshala.com/job/detail/power-bi-co...,NETSACH GLOBAL,Competitive salary,4 year(s),802009,802009,4,Data & AI
972,Big Data Developer,https://internshala.com/job/detail/big-data-de...,Chiselon Technologies Pvt Ltd,Competitive salary,4 year(s),802009,802009,4,Data & AI
973,Java Full Stack Developer,https://internshala.com/job/detail/java-full-s...,Chiselon Technologies Pvt Ltd,Competitive salary,4 year(s),606734,606734,4,Software Development
974,Video Editor & Creator,https://internshala.com/job/detail/video-edito...,LogicGo Infotech,Competitive salary,1 year(s),651897,651897,1,IT Support & Infrastructure

In [32]:
df.to_csv("../data/cleaned_job_data.csv",index=False)

In [ ]:
import pandas as pd
df = pd.read_csv("data\cleaned_job_data.csv")
cat_choices = df['Category'].unique()

FileNotFoundError: [Errno 2] No such file or directory: './data/cleaned_job_data.csv'